<div class="container">
  <div [hidden]="loginState">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="form.userName" name="userName"
               required #userName="ngModel">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="userName.errors && (userName.dirty || userName.touched)"
        >
          Username is required!
        </div>
      </div>

      <div class="form-group">
        <label for="pw">Pw</label>
        <input type="password" class="form-control" [(ngModel)]="form.pw" name="pw" required
                name="pw" #pw="ngModel">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="pw.errors && (pw.dirty || pw.touched)"
        >
          Password is required!
        </div>
      </div>

      <button type="submit" class="btn btn-success" >Login</button>
      <button type="button" onclick="window.location.href='/register'" class="btn btn-success" >Register</button>
    </form>
    <!--<div class="alert alert-warning" *ngIf="submitted && !isSuccessful">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>-->
  </div>
</div>